openapi: 3.0.1
info:
  title: Ververica Platform API
  description: The Ververica Platform API
  contact:
    name: Ververica GmbH
    url: https://www.ververica.com
    email: platform@ververica.com
  license:
    name: Proprietary
  version: 1.1.19-cli
servers:
- url: https://app.ververica.cloud
  description: VVC
paths:
  /api/v1/auth/tokens:
    post:
      tags:
        - authorization
      summary: Generate user access token
      description: |
        This endpoint generates an access token for authenticating requests to the API.
        Clients must provide credentials, a social login token, or a refresh token
        depending on the selected authentication flow.

        The access token returned in the response should be included in the
        `Authorization` header as a Bearer token when calling protected endpoints.
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
            examples:
              credentials:
                description: |
                  Login using classic username and password.
                  Typically used by users with registered accounts.
                value:
                  flow: credentials
                  username: user@company.com
                  password: SecurePa$$123
              social:
                description: |
                  Login using an OAuth2 social provider (e.g. Google).
                  The `externalAccessToken` must be obtained from the identity provider.
                  (Note: Currently, only `google` is supported.)
                value:
                  flow: social
                  provider: google
                  externalAccessToken: ya29.a0AfH6SMCOeXH1xL9EjQrJZ8eF3cVcD0AqL9n3OiPQ_ExampleTokenValue1234567890
              refresh:
                description: |
                  Refresh an existing session using a refresh token.
                  (Note: This flow is not implemented yet.)
                value:
                  flow: refresh
                  refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiSm9obiBEb2UifQ.DjwRE2jZhren2Wt37t5hlVru6Myq4AhpGLiiefF69u8
      responses:
        "200":
          description: Successful login response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
    x-backend-url: /auth/tokens
  /api/v1/auth/passwordChangeRequests:
    post:
      tags:
      - authorization
      summary: Change user password
      description: |
        Change password for an authenticated user using the current (old) password.
        This flow is only available for users who authenticated using credentials authentication flow.
      operationId: changePassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPasswordChangeRequest"
      responses:
        "204":
          description: The password was changed successfully
      security:
      - bearerAuth: []
    x-backend-url: /auth/passwordChangeRequests
  /api/v1/auth/passwordResetRequests:
    post:
      tags:
      - authorization
      summary: Reset password
      description: |
        Initiates the password reset process for a user using the credentials authentication flow.
        The user must provide the email address associated with their account.
        If the email exists, a password reset link with an email token will be sent to the user via email.
      operationId: resetPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPasswordResetRequest"
      responses:
        "204":
          description: The password reset request was accepted. A reset message has
            been sent.
    x-backend-url: /auth/passwordResetRequests
  /api/v1/auth/passwordSetRequests:
    post:
      tags:
      - authorization
      summary: Set password within sign up and forget password flows
      description: |
        Sets a new password for a user as part of the sign-up or forgot password flows.

        This endpoint is typically called after the user clicks a link from an email,
        which includes a temporary token. The token must not be expired or invalid.
        Once the password is successfully set, the user's status becomes active.

        This flow applies only to users in the credentials authentication flow.
      operationId: setPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserSetPasswordRequest"
      responses:
        "204":
          description: "The password was successfully set, and a confirmation email\
            \ was sent."
    x-backend-url: /auth/passwordSetRequests
  /api/v1/workspaces:
    get:
      tags:
      - workspaces
      summary: Get user workspaces
      description: |
        Returns a list of workspaces accessible to the authenticated user.

        This endpoint allows optional filtering by workspace status, permission,
        or specific instance IDs. It also supports disabling runtime enrichment
        to improve response times when such information is not required.
        The response includes all workspaces that are either owned by the user
        or explicitly shared with them.
        Useful for checking whether workspaces are ready (status `OK`) or still being provisioned (status `PROCESSING`).
      operationId: findWorkspaces
      parameters:
      - name: instanceId
        in: query
        description: |
          A list of workspace IDs to return.
          If no workspace IDs are provided, all workspaces shared with the user are returned.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: statusCategory
        in: query
        description: |
          A list of workspace statuses to filter the list of workspaces to return.
          If no workspace statuses are provided, all workspaces are returned.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - OK
            - PROCESSING
            - ERROR
            - UNKNOWN
      - name: features
        in: query
        description: Optional list of workspace features to enrich the response
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - RUNTIME_INFO
            - AZURE_CREDENTIAL_INFO
          uniqueItems: true
      - name: permission
        in: query
        description: |
          A permission code to filter the list of workspaces to return.
          If provided, this can be used for example to return only the workspaces
          where the user is an admin.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Response with user workspaces
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceList"
              examples:
                vvc-payment-system-user:
                  description: PAYG and RC workspaces using Ververica AWS & Azure
                    clusters
                  value:
                    workspaces:
                    - id: wtlcg3n9ldy8mk0e
                      name: Pay as you go Azure workspace
                      creatorId: e967a977-6068-4355-99a9-bf387350b0dd
                      instanceId: wtlcg3n9ldy8mk0e
                      status:
                        name: Creating
                        category: PROCESSING
                      userRoleId: owner
                      billingPlanId: 8
                      offeringType: PAYG
                      regionId: azure-dev-gwc
                      computeUnits:
                        used: 0.0
                        total: 50
                      creationTime: 2025-05-15T17:49:51Z
                      deletionTime: null
                      consoleUri: https://app.dev.aws.ververica.cloud/console/#/workspaces/wtlcg3n9ldy8mk0e/
                      clusterId: null
                      cluster: null
                    - id: q7760t0ym1d7xyso
                      creatorId: e967a977-6068-4355-99a9-bf387350b0dd
                      instanceId: q7760t0ym1d7xyso
                      name: Pay as you go AWS workspace
                      status:
                        name: Running
                        category: OK
                      userRoleId: owner
                      billingPlanId: 10
                      offeringType: PAYG
                      regionId: aws-eu-west-1
                      computeUnits:
                        used: 0.0
                        total: 50
                      creationTime: 2025-04-28T13:02:15Z
                      deletionTime: null
                      consoleUri: https://app.dev.aws.ververica.cloud/console/#/workspaces/q7760t0ym1d7xyso/
                      clusterId: null
                      cluster: null
                    - id: u6qci2cjybq2a6s2
                      creatorId: e967a977-6068-4355-99a9-bf387350b0dd
                      instanceId: u6qci2cjybq2a6s2
                      name: Reserved capacity AWS workspace
                      status:
                        name: Creating
                        category: PROCESSING
                      userRoleId: owner
                      billingPlanId: 11
                      offeringType: RC
                      regionId: aws-eu-west-1
                      computeUnits:
                        used: 0.0
                        total: 10
                      creationTime: 2025-05-15T17:50:13Z
                      deletionTime: null
                      consoleUri: https://app.dev.aws.ververica.cloud/console/#/workspaces/u6qci2cjybq2a6s2/
                      clusterId: null
                      cluster: null
                aws-marketplace-user:
                  description: BYOC workspaces
                  value:
                    workspaces:
                    - id: bz0x61je2i1qxhtv
                      creatorId: db15f705-b498-4a15-b2d0-7c6e2a13aabf
                      instanceId: bz0x61je2i1qxhtv
                      name: Bring your own cloud workspace
                      status:
                        name: New
                        category: PROCESSING
                      userRoleId: owner
                      billingPlanId: 9
                      offeringType: BYOC
                      regionId: null
                      computeUnits:
                        used: 0.0
                        total: 200
                      creationTime: 2025-05-16T05:40:15Z
                      deletionTime: null
                      consoleUri: https://app.dev.aws.ververica.cloud/console/#/workspaces/bz0x61je2i1qxhtv/
                      clusterId: e540c4cc-8750-470f-ac5d-0984639051c5
                      cluster:
                        id: e540c4cc-8750-470f-ac5d-0984639051c5
                        name: byoc-cluster
                        creationTime: 2025-04-14T08:45:43Z
                        lastSeen: null
                        status: ONLINE
                        currentAgentVersion: 1.9.2
                        mostRecentAgentVersion: 1.9.2
      security:
      - bearerAuth: []
    post:
      tags:
      - workspaces
      summary: Create user workspace
      description: "Creates a new workspace for the authenticated user based on the\
        \ provided configuration.\nThe workspace is created asynchronously — after\
        \ the request is accepted, the workspace will be in a PROCESSING state \n\
        You must wait until the workspace reaches an OK state before it can be accessed\
        \ and used.\n\nThe `billingPlanId` is required to create the workspace and\
        \ determines the offering type and available resources.  \nTo retrieve the\
        \ list of available billing plans and their corresponding identifiers, use\
        \ the **Billing Plans API**.\n\nFor workspaces using the **Bring Your Own\
        \ Cloud (BYOC)** offering type, the following additional fields are required:\n\
        - `clusterId`: ID of the pre-provisioned BYOC cluster.\n- `data.storage`:\
        \ Object defining the BYOC storage configuration.\nTo retrieve the list of\
        \ available BYOC clusters and their IDs, use the **Clusters API**.\n"
      operationId: createWorkspace
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkspaceCreationRequest"
            examples:
              pay-as-you-go:
                description: |
                  Creates a new workspace with the PAYG offering type.
                value:
                  name: Pay-as-you-go-workspace
                  billingPlanId: "8"
              reserved-capacity:
                description: |
                  Creates a new workspace with the RC offering type.
                value:
                  name: Reserved-capacity-workspace
                  billingPlanId: "11"
              bring-your-own-cloud:
                description: |
                  Creates a new workspace with the BYOC offering type.
                value:
                  name: Bring-your-own-cloud-workspace
                  billingPlanId: "9"
                  clusterId: e540c4cc-8750-470f-ac5d-0984639051c5
                  data:
                    storage:
                      id: s3://my-byoc-bucket
                      type: s3
        required: true
      responses:
        "201":
          description: User workspace created
      security:
      - bearerAuth: []
    x-backend-url: /product/workspaces
  /api/v1/workspaces/{workspace}:
    get:
      tags:
      - workspaces
      summary: Get single user workspace
      description: "Retrieves the workspace identified by its ID. \nThe response contains\
        \ the current configuration and status of the workspace, including offering\
        \ type, billing details, and deployment-specific metadata.  \nUseful for checking\
        \ whether the workspace is ready (status `OK`) or still being provisioned\
        \ (status `PROCESSING`).\n"
      operationId: getWorkspace
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: ftt1fir2s7ev8e69
      - name: features
        in: query
        description: Optional list of workspace features to enrich the response
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - RUNTIME_INFO
            - AZURE_CREDENTIAL_INFO
          uniqueItems: true
      responses:
        "200":
          description: Response with created workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workspace"
              examples:
                pay-as-you-go:
                  description: Pay as you go workspace
                  value:
                    id: ftt1fir2s7ev8e69
                    creatorId: e967a977-6068-4355-99a9-bf387350b0dd
                    instanceId: ftt1fir2s7ev8e69
                    name: Pay-as-you-go-workspace
                    status:
                      name: Running
                      category: OK
                    userRoleId: null
                    billingPlanId: 8
                    offeringType: PAYG
                    regionId: azure-dev-gwc
                    computeUnits:
                      used: 0
                      total: 50
                    creationTime: 2025-05-16T05:55:46Z
                    deletionTime: null
                    consoleUri: https://app.dev.aws.ververica.cloud/console/#/workspaces/ftt1fir2s7ev8e69/
                    clusterId: null
                    cluster: null
                reserved-capacity:
                  description: Reserved Capacity workspace
                  value:
                    id: u6qci2cjybq2a6s2
                    creatorId: e967a977-6068-4355-99a9-bf387350b0dd
                    instanceId: u6qci2cjybq2a6s2
                    name: Reserved-capacity-workspace
                    status:
                      name: Running
                      category: OK
                    userRoleId: null
                    billingPlanId: 11
                    offeringType: RC
                    regionId: aws-eu-west-1
                    computeUnits:
                      used: 0
                      total: 10
                    creationTime: 2025-05-15T17:50:13Z
                    deletionTime: null
                    consoleUri: https://app.dev.aws.ververica.cloud/console/#/workspaces/u6qci2cjybq2a6s2/
                    clusterId: null
                    cluster: null
                bring-your-own-cloud:
                  description: Bring Your Own Cloud workspace
                  value:
                    id: bz0x61je2i1qxhtv
                    creatorId: db15f705-b498-4a15-b2d0-7c6e2a13aabf
                    instanceId: bz0x61je2i1qxhtv
                    name: byoc-dev-516
                    status:
                      name: Running
                      category: OK
                    userRoleId: null
                    billingPlanId: 9
                    offeringType: BYOC
                    regionId: null
                    computeUnits:
                      used: "0,"
                      total: 200
                    creationTime: 2025-05-16T05:40:15Z
                    deletionTime: null
                    consoleUri: https://app.dev.aws.ververica.cloud/console/#/workspaces/bz0x61je2i1qxhtv/
                    clusterId: e540c4cc-8750-470f-ac5d-0984639051c5
                    cluster:
                      id: e540c4cc-8750-470f-ac5d-0984639051c5
                      name: byoc-cluster
                      creationTime: 2025-04-14T08:45:43Z
                      lastSeen: null
                      status: ONLINE
                      currentAgentVersion: 1.9.2
                      mostRecentAgentVersion: 1.9.2
      security:
      - bearerAuth: []
    delete:
      tags:
      - workspaces
      summary: Delete user workspace
      description: |
        Deletes the specified workspace by its ID.
        This operation is irreversible — all associated resources, configurations, and stored data will be permanently removed.
      operationId: deleteWorkspace
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: ftt1fir2s7ev8e69
      responses:
        "204":
          description: Successfully removed
      security:
      - bearerAuth: []
    patch:
      tags:
      - workspaces
      summary: Update existing user workspace
      description: |
        Updates an existing workspace, such as changing the number of compute units.
      operationId: updateWorkspace
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: ftt1fir2s7ev8e69
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkspaceUpdateRequest"
        required: true
      responses:
        "204":
          description: Successfully updated
      security:
      - bearerAuth: []
    x-backend-url: "/product/workspaces/{workspace}"
    x-rename-parameter:
    - from: workspaceId
      to: workspace
  /api/v1/workspaces/{workspace}/namespaces/{namespace}/deployments/{deploymentId}/events:
    get:
      tags:
      - alerts
      summary: listEvents
      operationId: listDeploymentEvents
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: alarmId
        in: query
        description: alarmId
        schema:
          type: string
      - name: deploymentId
        in: path
        description: Unique identifier of the deployment resource.
        required: true
        schema:
          type: string
      - name: endTime
        in: query
        description: endTime
        required: true
        schema:
          type: integer
          format: int64
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      - name: startTime
        in: query
        description: startTime
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Event"
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    x-backend-url: "/alert/v1/namespaces/{namespace}/deployments/{deploymentId}/events"
    x-move-header-to-path:
    - workspace
    x-rename-parameter:
    - from: ns
      to: namespace
  /api/v1/namespaces/{namespace}/deployment-targets:
    get:
      tags:
      - deployment-targets
      summary: List all deployment targets
      description: "Returns a list of all deployment targets within the given namespace.\
        \ \nDeployment targets define runtime environments for deploying Flink jobs.\n"
      operationId: getDeploymentTargets
      parameters:
      - name: workspace
        in: header
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceListOfDeploymentTarget"
            application/x-protobuf:
              schema:
                $ref: "#/components/schemas/ResourceListOfDeploymentTarget"
            application/yaml:
              schema:
                $ref: "#/components/schemas/ResourceListOfDeploymentTarget"
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
  /api/v1/workspaces/{workspace}/namespaces/{namespace}/deployment-targets:
    post:
      tags:
      - deployment-targets
      summary: Create a deployment target
      description: "Creates a new deployment target in the specified namespace. \n\
        A deployment target refers to a specific Kubernetes namespace or cluster where\
        \ \nFlink jobs can be deployed.\n"
      operationId: createDeploymentTarget
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      requestBody:
        description: deploymentTarget
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeploymentTarget"
          application/x-protobuf:
            schema:
              $ref: "#/components/schemas/DeploymentTarget"
          application/yaml:
            schema:
              $ref: "#/components/schemas/DeploymentTarget"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeploymentTarget"
            application/x-protobuf:
              schema:
                $ref: "#/components/schemas/DeploymentTarget"
            application/yaml:
              schema:
                $ref: "#/components/schemas/DeploymentTarget"
        "201":
          description: Created
          content: {}
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    x-backend-url: "/api/v1/namespaces/{namespace}/deployment-targets"
    x-move-header-to-path:
    - workspace
  /api/v1/workspaces/{workspace}/namespaces/{namespace}/deployment-targets/{name}:
    get:
      tags:
      - deployment-targets
      summary: Get a deployment target by name
      description: Retrieves the configuration and metadata for a specific deployment
        target by name.
      operationId: getDeploymentTarget
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: name
        in: path
        description: name
        required: true
        schema:
          type: string
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeploymentTarget"
            application/x-protobuf:
              schema:
                $ref: "#/components/schemas/DeploymentTarget"
            application/yaml:
              schema:
                $ref: "#/components/schemas/DeploymentTarget"
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    delete:
      tags:
      - deployment-targets
      summary: Delete a deployment target
      description: Deletes the specified deployment target.
      operationId: deleteDeploymentTarget
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: name
        in: path
        description: name
        required: true
        schema:
          type: string
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeploymentTarget"
            application/x-protobuf:
              schema:
                $ref: "#/components/schemas/DeploymentTarget"
            application/yaml:
              schema:
                $ref: "#/components/schemas/DeploymentTarget"
        "204":
          description: No Content
          content: {}
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    patch:
      tags:
      - deployment-targets
      summary: Update a deployment target
      description: "Updates the configuration of the specified deployment target.\
        \ \nOnly certain fields can be changed after creation.\n"
      operationId: updateDeploymentTarget
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: name
        in: path
        description: name
        required: true
        schema:
          type: string
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeploymentTarget"
          application/x-protobuf:
            schema:
              $ref: "#/components/schemas/DeploymentTarget"
          application/yaml:
            schema:
              $ref: "#/components/schemas/DeploymentTarget"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeploymentTarget"
            application/x-protobuf:
              schema:
                $ref: "#/components/schemas/DeploymentTarget"
            application/yaml:
              schema:
                $ref: "#/components/schemas/DeploymentTarget"
        "204":
          description: No Content
          content: {}
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    x-backend-url: "/api/v1/namespaces/{namespace}/deployment-targets/{name}"
    x-move-header-to-path:
    - workspace
  /api/v1/workspaces/{workspace}/namespaces/{namespace}/sessionclusters:
    get:
      tags:
      - session-clusters
      summary: List all session clusters
      description: |
        Retrieve a list of all session clusters within the specified workspace and namespace.
        Session clusters are long-running, reusable Flink clusters that can execute multiple jobs.
      operationId: listSessionClusters
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceListOfSessionCluster"
            application/x-protobuf:
              schema:
                $ref: "#/components/schemas/ResourceListOfSessionCluster"
            application/yaml:
              schema:
                $ref: "#/components/schemas/ResourceListOfSessionCluster"
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    post:
      tags:
      - session-clusters
      summary: Create a session cluster
      description: "Deploy a new Flink session cluster within the specified workspace\
        \ and namespace. \nThe session cluster can be reused for multiple job submissions\
        \ and is configurable.  \n**Note:** The `spec.versionName` field is required\
        \ to specify the engine version to use.  \nTo retrieve the list of available\
        \ engine versions, use the `flink-version-support` API.\n"
      operationId: createSessionCluster
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      requestBody:
        description: sessionCluster
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SessionCluster"
            example:
              metadata:
                name: session-cluster-name
                labels: null
              spec:
                versionName: vera-4.0.0-flink-1.20
                imageUserDefined: false
                numberOfTaskManagers: 1
                resources:
                  jobmanager:
                    cpu: 1
                    memory: 4GiB
                  taskmanager:
                    cpu: 2
                    memory: 8GiB
                logging:
                  loggingProfile: default
                  log4j2ConfigurationTemplate: null
                  log4jLoggers:
                    ? ""
                    : INFO
                flinkConfiguration: null
                kubernetes: null
                deploymentTargetName: u6qci2cjybq2a6s2
                state: RUNNING
          application/x-protobuf:
            schema:
              $ref: "#/components/schemas/SessionCluster"
          application/yaml:
            schema:
              $ref: "#/components/schemas/SessionCluster"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionCluster"
            application/x-protobuf:
              schema:
                $ref: "#/components/schemas/SessionCluster"
            application/yaml:
              schema:
                $ref: "#/components/schemas/SessionCluster"
        "201":
          description: Created
          content: {}
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    x-backend-url: "/api/v1/namespaces/{namespace}/sessionclusters"
    x-move-header-to-path:
    - workspace
  /api/v1/workspaces/{workspace}/namespaces/{namespace}/sessionclusters/{name}:
    get:
      tags:
      - session-clusters
      summary: Get a session cluster by name
      description: |
        Retrieve the configuration and status of a session cluster by its unique name within the specified workspace and namespace.
      operationId: getSessionCluster
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: name
        in: path
        description: Unique name of the session cluster.
        required: true
        schema:
          type: string
        example: session-cluster-name
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionCluster"
            application/x-protobuf:
              schema:
                $ref: "#/components/schemas/SessionCluster"
            application/yaml:
              schema:
                $ref: "#/components/schemas/SessionCluster"
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    delete:
      tags:
      - session-clusters
      summary: Delete a session cluster
      description: "Permanently delete a session cluster by name. This operation removes\
        \ the cluster and releases its resources.  \n**Note:** The session cluster\
        \ must be in the `STOPPED` state before it can be deleted.\n"
      operationId: deleteSessionCluster
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: name
        in: path
        description: Unique name of the session cluster.
        required: true
        schema:
          type: string
        example: session-cluster-name
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionCluster"
            application/x-protobuf:
              schema:
                $ref: "#/components/schemas/SessionCluster"
            application/yaml:
              schema:
                $ref: "#/components/schemas/SessionCluster"
        "204":
          description: No Content
          content: {}
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    patch:
      tags:
      - session-clusters
      summary: Update a session cluster
      description: "Modify the configuration or metadata of an existing session cluster.\
        \ \nThis allows you to change its state, number of task managers and other\
        \ configuration.\n"
      operationId: updateSessionCluster
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: name
        in: path
        description: Unique name of the session cluster.
        required: true
        schema:
          type: string
        example: session-cluster-name
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SessionCluster"
          application/x-protobuf:
            schema:
              $ref: "#/components/schemas/SessionCluster"
          application/yaml:
            schema:
              $ref: "#/components/schemas/SessionCluster"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionCluster"
            application/x-protobuf:
              schema:
                $ref: "#/components/schemas/SessionCluster"
            application/yaml:
              schema:
                $ref: "#/components/schemas/SessionCluster"
        "204":
          description: No Content
          content: {}
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    x-backend-url: "/api/v1/namespaces/{namespace}/sessionclusters/{name}"
    x-move-header-to-path:
    - workspace
  /api/v2/workspaces/{workspace}/namespaces/{namespace}/deployments:
    post:
      tags:
      - deployments
      summary: Create a deployment
      description: "Creates a new deployment within the specified namespace and workspace.\
        \  \nA deployment defines the job to be executed, its configuration, execution\
        \ mode (STREAMING or BATCH),\nassociated artifact, resource settings, Flink\
        \ configuration, and other runtime properties.  \nDeployments are scoped within\
        \ a **namespace**, which is a logical grouping of resources inside a workspace.\
        \  \nIn **Ververica Cloud**, the default namespace is `\"default\"`. Unless\
        \ explicitly created or specified otherwise,\nall deployments are placed in\
        \ this default namespace.\n**Note:** The `engineVersion` field is required\
        \ to specify the Flink engine version to be used for the deployment.  \nTo\
        \ retrieve the list of available engine versions, use the `flink-version-support`\
        \ API.\n"
      operationId: createDeployment
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      requestBody:
        description: deploymentDTO
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Deployment"
            examples:
              remote-jar-at-session-cluster:
                description: Creates a new deployment using remote jar URI.
                value:
                  name: remote-jar-at-session-cluster
                  engineVersion: vera-1.0.3-flink-1.17
                  executionMode: STREAMING
                  imageUserDefined: false
                  deploymentTarget:
                    mode: SESSION
                    name: session-cluster-name
                  artifact:
                    kind: JAR
                    jarArtifact:
                      jarUri: https://repo1.maven.org/maven2/org/apache/flink/flink-examples-streaming_2.12/1.17.2/flink-examples-streaming_2.12-1.17.2-WindowJoin.jar
                  kerberosConfig:
                    kerberosEnabled: false
                  namespace: default
              artifact-jar-with-dependency:
                description: Creates a new jar deployment using uploaded artifact
                  and dependency.
                value:
                  name: artifact-jar-with-dependency
                  engineVersion: vera-1.0.3-flink-1.17
                  executionMode: STREAMING
                  imageUserDefined: false
                  deploymentTarget:
                    mode: PER_JOB
                    name: u6qci2cjybq2a6s2
                  artifact:
                    kind: JAR
                    jarArtifact:
                      jarUri: s3i://vvc-tenant-u6qci2cjybq2a6s2-eu-west-1/artifacts/namespaces/default/FlinkQuickStart-1.0-SNAPSHOT.jar
                      entryClass: org.example.WordCountStreaming
                      mainArgs: --input s3i://vvc-tenant-u6qci2cjybq2a6s2-eu-west-1/artifacts/namespaces/u6qci2cjybq2a6s2/Shakespeare
                      additionalDependencies:
                      - s3i://vvc-tenant-u6qci2cjybq2a6s2-eu-west-1/artifacts/namespaces/default/Shakespeare
                  kerberosConfig:
                    kerberosEnabled: false
                  namespace: default
              python-deployment:
                description: Creates a python deployment.
                value:
                  name: python-deployment
                  engineVersion: vera-1.0.3-flink-1.17
                  executionMode: STREAMING
                  imageUserDefined: false
                  deploymentTarget:
                    mode: PER_JOB
                    name: u6qci2cjybq2a6s2
                  artifact:
                    kind: PYTHON
                    pythonArtifact:
                      pythonArtifactUri: s3i://vvc-tenant-u6qci2cjybq2a6s2-eu-west-1/artifacts/namespaces/default/word_count_streaming.py
                  kerberosConfig:
                    kerberosEnabled: false
                  namespace: default
              sql-script-deployment:
                description: Creates a new deployment using SQL script.
                value:
                  name: sql-script-deployment
                  engineVersion: vera-1.0.3-flink-1.17
                  executionMode: STREAMING
                  imageUserDefined: false
                  deploymentTarget:
                    mode: SESSION
                    name: session-cluster-name
                  artifact:
                    kind: SQLSCRIPT
                    sqlArtifact:
                      sqlScript: "CREATE TEMPORARY TABLE server_logs ( \n    client_ip\
                        \ STRING,\n    client_identity STRING, \n    userid STRING,\
                        \ \n    log_time TIMESTAMP(3),\n    request_line STRING, \n\
                        \    status_code STRING, \n    size INT\n) WITH (\n  'connector'\
                        \ = 'faker',\n  'fields.client_ip.expression' = '-',\n  'fields.client_identity.expression'\
                        \ =  '-',\n  'fields.userid.expression' =  '-',\n  'fields.log_time.expression'\
                        \ =  '-''}',\n  'fields.request_line.expression' = 'request_line_xpression''}',\n\
                        \  'fields.status_code.expression' = 'status_code_expression''}',\n\
                        \  'fields.size.expression' = '-''}'\n);\n\nCREATE TEMPORARY\
                        \ TABLE client_errors (\n  log_time TIMESTAMP(3),\n  request_line\
                        \ STRING,\n  status_code STRING,\n  size INT\n)\nWITH (\n\
                        \  'connector' = 'blackhole'\n);\n\nINSERT INTO client_errors\n\
                        SELECT\n    log_time,\n    request_line,\n    status_code,\n\
                        \    size\nFROM server_logs\nWHERE\n    status_code SIMILAR\
                        \ TO '4[0-9][0-9]';\n"
                  kerberosConfig:
                    kerberosEnabled: false
                  namespace: default
          application/x-protobuf:
            schema:
              $ref: "#/components/schemas/Deployment"
          application/yaml:
            schema:
              $ref: "#/components/schemas/Deployment"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deployment"
              examples:
                remote-jar-at-session-cluster:
                  description: Created new deployment using remote jar URI.
                  value:
                    deploymentId: 9a5ec42b-4bc0-4192-91d9-2f92810e0eec
                    name: remote-jar-at-session-cluster
                    executionMode: STREAMING
                    streamingResourceSetting:
                      resourceSettingMode: BASIC
                      basicResourceSetting:
                        parallelism: 1
                        jobmanagerResourceSettingSpec:
                          cpu: 1.0
                          memory: 1Gi
                        taskmanagerResourceSettingSpec:
                          cpu: 1.0
                          memory: 2Gi
                    kerberosConfig:
                      kerberosEnabled: false
                    labels: {}
                    engineVersion: vera-4.0.0-flink-1.20
                    referencedDeploymentDraftId: ""
                    deploymentHasChanged: true
                    taker: ' | vvp-0'
                    priority: 5
                    resourceTuning:
                      mode: none
                      resourceTuningId: ""
                      resourceTuningName: ""
                      scheduledPlanIsCancelling: false
                    autopilot:
                      mode: ""
                      recommendation: ""
                      ignoreRecommendation: ""
                    deploymentTarget:
                      mode: SESSION
                      name: sc-dev5211
                    artifact:
                      kind: JAR
                      jarArtifact:
                        jarUri: https://repo1.maven.org/maven2/org/apache/flink/flink-examples-streaming_2.12/1.17.2/flink-examples-streaming_2.12-1.17.2-WindowJoin.jar
                    flinkConf:
                      executioncheckpointing.interval": 180s
                      restartstrategy": fixed-delay
                      restartstrategy.fixed-delay.attempts": "2147483647"
                      tableexec.state.ttl": 36 h
                      executioncheckpointing.min-pause": 180s
                      restartstrategy.fixed-delay.delay": 10 s
                    logging:
                      loggingProfile: default
                      log4jLoggers:
                      - loggerName: ""
                        loggerLevel: INFO
                      logReservePolicy:
                        openHistory: true
                        expirationDays: 7
                    jobSummary:
                      starting: 0
                      running: 0
                      cancelling: 0
                      cancelled: 0
                      finished: 0
                      failed: 0
                    workspace: u6qci2cjybq2a6s2
                    namespace: default
                    creator: e967a977-6068-4355-99a9-bf387350b0dd
                    creatorName: John Doe
                    modifier: e967a977-6068-4355-99a9-bf387350b0dd
                    modifierName: John Doe
                    createdAt: 1747941447
                    modifiedAt: 1747941447
                artifact-jar-with-dependency:
                  description: Created new jar deployment using uploaded artifact
                    and dependency.
                  value:
                    deploymentId: cb011433-2bb0-4802-a5fb-f54b7e58cdd1
                    name: artifact-jar-with-dependency
                    executionMode: STREAMING
                    streamingResourceSetting:
                      resourceSettingMode: BASIC
                      basicResourceSetting:
                        parallelism: 1
                        jobmanagerResourceSettingSpec:
                          cpu: 1.0
                          memory: 1Gi
                        taskmanagerResourceSettingSpec:
                          cpu: 1.0
                          memory: 2Gi
                    kerberosConfig:
                      kerberosEnabled: false
                    labels: {}
                    engineVersion: vera-1.0.3-flink-1.17
                    referencedDeploymentDraftId: ""
                    deploymentHasChanged: true
                    taker: ' | vvp-0'
                    priority: 5
                    resourceTuning:
                      mode: none
                      resourceTuningId: ""
                      resourceTuningName: ""
                      scheduledPlanIsCancelling: false
                    autopilot:
                      mode: ""
                      recommendation: ""
                      ignoreRecommendation: ""
                    deploymentTarget:
                      mode: PER_JOB
                      name: u6qci2cjybq2a6s2
                    artifact:
                      kind: JAR
                      jarArtifact:
                        jarUri: s3i://vvc-tenant-u6qci2cjybq2a6s2-eu-west-1/artifacts/namespaces/default/FlinkQuickStart-1.0-SNAPSHOT.jar
                        entryClass: org.example.WordCountStreaming
                        mainArgs: --inputs 3i://vvc-tenant-u6qci2cjybq2a6s2-eu-west-1/artifacts/namespaces/u6qci2cjybq2a6s2/Shakespeare
                        additionalDependencies:
                        - s3i://vvc-tenant-u6qci2cjybq2a6s2-eu-west-1/artifacts/namespaces/default/Shakespeare
                    flinkConf:
                      executioncheckpointing.interval": 180s
                      restartstrategy": fixed-delay
                      restartstrategy.fixed-delay.attempts": "2147483647"
                      tableexec.state.ttl": 36 h
                      executioncheckpointing.min-pause": 180s
                      restartstrategy.fixed-delay.delay": 10 s
                    logging:
                      loggingProfile: default
                      log4jLoggers:
                      - loggerName: ""
                        loggerLevel: INFO
                      logReservePolicy:
                        openHistory: true
                        expirationDays: 7
                    jobSummary:
                      starting: 0
                      running: 0
                      cancelling: 0
                      cancelled: 0
                      finished: 0
                      failed: 0
                    workspace: u6qci2cjybq2a6s2
                    namespace: default
                    creator: e967a977-6068-4355-99a9-bf387350b0dd
                    creatorName: John Doe
                    modifier: e967a977-6068-4355-99a9-bf387350b0dd
                    modifierName: John Doe
                    createdAt: 1747941717
                    modifiedAt: 1747941717
                python-deployment:
                  description: Created python deployment.
                  value:
                    deploymentId: 040aab7c-23bf-446f-8f13-14cec350feaa
                    name: python-deployment
                    executionMode: STREAMING
                    streamingResourceSetting:
                      resourceSettingMode: BASIC
                      basicResourceSetting:
                        parallelism: 1
                        jobmanagerResourceSettingSpec:
                          cpu: 1.0
                          memory: 1Gi
                        taskmanagerResourceSettingSpec:
                          cpu: 1.0
                          memory: 2Gi
                    kerberosConfig:
                      kerberosEnabled: fals
                    labels: {}
                    engineVersion: vera-1.0.3-flink-1.17
                    referencedDeploymentDraftId: ""
                    deploymentHasChanged: true
                    taker: ' | vvp-0'
                    priority: 5
                    resourceTuning:
                      mode: none
                      resourceTuningId: ""
                      resourceTuningName: ""
                      scheduledPlanIsCancelling: false
                    autopilot:
                      mode: ""
                      recommendation: ""
                      ignoreRecommendation: ""
                    deploymentTarget:
                      mode: PER_JOB
                      name: u6qci2cjybq2a6s2
                    artifact:
                      kind: PYTHON
                      pythonArtifact:
                        pythonArtifactUri: s3i://vvc-tenant-u6qci2cjybq2a6s2-eu-west-1/artifacts/namespaces/default/word_count_streaming.py
                    flinkConf:
                      executioncheckpointing.interval": 180s
                      restartstrategy": fixed-delay
                      restartstrategy.fixed-delay.attempts": "2147483647"
                      tableexec.state.ttl": 36 h
                      executioncheckpointing.min-pause": 180s
                      restartstrategy.fixed-delay.delay": 10 s
                    logging:
                      loggingProfile: default
                      log4jLoggers:
                      - loggerName: ""
                        loggerLevel: INFO
                      logReservePolicy:
                        openHistory: true
                        expirationDays: 7
                    jobSummary:
                      starting: 0
                      running: 0
                      cancelling: 0
                      cancelled: 0
                      finished: 0
                      failed: 0
                    workspace: u6qci2cjybq2a6s2
                    namespace: default
                    creator: e967a977-6068-4355-99a9-bf387350b0dd
                    creatorName: John Doe
                    modifier: e967a977-6068-4355-99a9-bf387350b0dd
                    modifierName: John Doe
                    createdAt: 1747940342
                    modifiedAt: 1747940342
                sql-script-deployment:
                  description: Created new deployment using SQL script.
                  value:
                    deploymentId: 1903268c-60ba-49e8-98d8-0233a783cb9d
                    name: jar-deployment
                    executionMode: STREAMING
                    streamingResourceSetting:
                      resourceSettingMode: BASIC
                      basicResourceSetting:
                        parallelism: 1
                        jobmanagerResourceSettingSpec:
                          cpu: 1.0
                          memory: 1Gi
                        taskmanagerResourceSettingSpec:
                          cpu: 1.0
                          memory: 2Gi
                    kerberosConfig:
                      kerberosEnabled: false
                    labels: {}
                    engineVersion: vera-1.0.3-flink-1.17
                    referencedDeploymentDraftId: ""
                    deploymentHasChanged: true
                    taker: ' | vvp-0'
                    priority: 5
                    resourceTuning:
                      mode: none
                      resourceTuningId: ""
                      resourceTuningName: ""
                      scheduledPlanIsCancelling: false
                    autopilot:
                      mode: ""
                      recommendation: ""
                      ignoreRecommendation: ""
                    deploymentTarget:
                      mode: PER_JOB
                      name: u6qci2cjybq2a6s2
                    artifact:
                      kind: SQLSCRIPT
                      sqlArtifact:
                        sqlScript: "CREATE TEMPORARY TABLE server_logs ( \n    client_ip\
                          \ STRING,\n    client_identity STRING, \n    userid STRING,\
                          \ \n    log_time TIMESTAMP(3),\n    request_line STRING,\
                          \ \n    status_code STRING, \n    size INT\n) WITH (\n \
                          \ connector = faker,\n  fields.client_ip.expression = -,\n\
                          \  fields.client_identity.expression =  -,\n  fields.userid.expression\
                          \ =  -,\nfields.log_time.expression =  -},\n  fields.request_line.expression\
                          \ = request_line_xpression},\n  fields.status_code.expression\
                          \ = status_code_expression},\n  fields.size.expression =\
                          \ -}\n);\n\nCREATE TEMPORARY TABLE client_errors (\n  log_time\
                          \ TIMESTAMP(3),\n  request_line STRING,\n  status_code STRING,\n\
                          \  size INT\n)\nWITH (\n  connector = blackhole\n);\n\n\
                          INSERT INTO client_errors\nSELECT\n    log_time,\n    request_line,\n\
                          \    status_code,\n    size\nFROM server_logs\nWHERE\n \
                          \   status_code SIMILAR TO 4[0-9][0-9];\n"
                    flinkConf:
                      executioncheckpointing.interval": 180s
                      restartstrategy": fixed-delay
                      restartstrategy.fixed-delay.attempts": "2147483647"
                      tableexec.state.ttl": 36 h
                      executioncheckpointing.min-pause": 180s
                      restartstrategy.fixed-delay.delay": 10 s
                    logging:
                      loggingProfile: default
                      log4jLoggers:
                        loggerName: ""
                        loggerLevel: INFO
                      logReservePolicy:
                        openHistory: true
                        expirationDays: 7
                    jobSummary:
                      starting: 0
                      running: 0
                      cancelling: 0
                      cancelled: 0
                      finished: 0
                      failed: 0
                    workspace: u6qci2cjybq2a6s2
                    namespace: default
                    creator: e967a977-6068-4355-99a9-bf387350b0dd
                    creatorName: John Doe
                    modifier: e967a977-6068-4355-99a9-bf387350b0dd
                    modifierName: John Doe
                    createdAt: 1747985781
                    modifiedAt: 1747985781
        "201":
          description: Created
          content: {}
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    x-backend-url: "/api/v2/namespaces/{namespace}/deployments"
    x-move-header-to-path:
      - workspace
  /api/v2/workspaces/{workspace}/namespaces/{namespace}/stream-deployments:
    get:
      tags:
        - deployments
      summary: List deployments
      description: List of deployments
      operationId: listDeployments
      parameters:
        - name: workspace
          in: path
          description:
            Unique identifier of the workspace that groups related namespaces
            and resources.
          required: true
          schema:
            type: string
          example: u6qci2cjybq2a6s2
        - name: namespace
          in: path
          description:
            Logical namespace within the workspace used to organize and isolate
            resources.
          required: true
          schema:
            type: string
          example: default
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDeploymentsResponse"
      security:
        - bearerAuth: []
  /api/v2/namespaces/{namespace}/stream-deployments:
    get:
      tags:
        - deployments
      summary: List deployments
      description: List of deployments
      operationId: listDeploymentsTemporary
      parameters:
        - name: workspace
          in: header
          description:
            Unique identifier of the workspace that groups related namespaces
            and resources.
          required: true
          schema:
            type: string
          example: u6qci2cjybq2a6s2
        - name: namespace
          in: path
          description:
            Logical namespace within the workspace used to organize and isolate
            resources.
          required: true
          schema:
            type: string
          example: default
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDeploymentsResponseTemporary"
      security:
        - bearerAuth: []
  /api/v2/workspaces/{workspace}/namespaces/{namespace}/deployments/ids:
    get:
      tags:
      - deployments
      summary: List deployment ids
      description: Returns a list of deployment UUIDs for the given workspace and
        namespace.
      operationId: listDeploymentIds
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: uuid
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    x-backend-url: "/api/v2/namespaces/{namespace}/deployments/ids"
    x-move-header-to-path:
    - workspace
  /api/v2/workspaces/{workspace}/namespaces/{namespace}/deployments/{deploymentId}:
    get:
      tags:
      - deployments
      summary: Get a deployment by id
      description: |
        Retrieves detailed information about a specific deployment identified by its UUID.
        The response includes all relevant metadata, configuration, artifact details, resource settings,
        and job status related to the deployment.
      operationId: getDeployment
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: deploymentId
        in: path
        description: Unique identifier of the deployment resource.
        required: true
        schema:
          type: string
          format: uuid
        example: 13dbaf09-1246-44f7-80b8-2d119c9595e7
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deployment"
              examples:
                remote-jar-at-session-cluster:
                  description: Created new deployment using remote jar URI.
                  value:
                    deploymentId: 9a5ec42b-4bc0-4192-91d9-2f92810e0eec
                    name: remote-jar-at-session-cluster
                    executionMode: STREAMING
                    streamingResourceSetting:
                      resourceSettingMode: BASIC
                      basicResourceSetting:
                        parallelism: 1
                        jobmanagerResourceSettingSpec:
                          cpu: 1.0
                          memory: 1Gi
                        taskmanagerResourceSettingSpec:
                          cpu: 1.0
                          memory: 2Gi
                    kerberosConfig:
                      kerberosEnabled: false
                    labels: {}
                    engineVersion: vera-4.0.0-flink-1.20
                    referencedDeploymentDraftId: ""
                    deploymentHasChanged: true
                    taker: ' | vvp-0'
                    priority: 5
                    resourceTuning:
                      mode: none
                      resourceTuningId: ""
                      resourceTuningName: ""
                      scheduledPlanIsCancelling: false
                    autopilot:
                      mode: ""
                      recommendation: ""
                      ignoreRecommendation: ""
                    deploymentTarget:
                      mode: SESSION
                      name: sc-dev5211
                    artifact:
                      kind: JAR
                      jarArtifact:
                        jarUri: https://repo1.maven.org/maven2/org/apache/flink/flink-examples-streaming_2.12/1.17.2/flink-examples-streaming_2.12-1.17.2-WindowJoin.jar
                    flinkConf:
                      executioncheckpointing.interval": 180s
                      restartstrategy": fixed-delay
                      restartstrategy.fixed-delay.attempts": "2147483647"
                      tableexec.state.ttl": 36 h
                      executioncheckpointing.min-pause": 180s
                      restartstrategy.fixed-delay.delay": 10 s
                    logging:
                      loggingProfile: default
                      log4jLoggers:
                      - loggerName: ""
                        loggerLevel: INFO
                      logReservePolicy:
                        openHistory: true
                        expirationDays: 7
                    jobSummary:
                      starting: 0
                      running: 0
                      cancelling: 0
                      cancelled: 0
                      finished: 0
                      failed: 0
                    workspace: u6qci2cjybq2a6s2
                    namespace: default
                    creator: e967a977-6068-4355-99a9-bf387350b0dd
                    creatorName: John Doe
                    modifier: e967a977-6068-4355-99a9-bf387350b0dd
                    modifierName: John Doe
                    createdAt: 1747941447
                    modifiedAt: 1747941447
                artifact-jar-with-dependency:
                  description: Created new jar deployment using uploaded artifact
                    and dependency.
                  value:
                    deploymentId: cb011433-2bb0-4802-a5fb-f54b7e58cdd1
                    name: artifact-jar-with-dependency
                    executionMode: STREAMING
                    streamingResourceSetting:
                      resourceSettingMode: BASIC
                      basicResourceSetting:
                        parallelism: 1
                        jobmanagerResourceSettingSpec:
                          cpu: 1.0
                          memory: 1Gi
                        taskmanagerResourceSettingSpec:
                          cpu: 1.0
                          memory: 2Gi
                    kerberosConfig:
                      kerberosEnabled: false
                    labels: {}
                    engineVersion: vera-1.0.3-flink-1.17
                    referencedDeploymentDraftId: ""
                    deploymentHasChanged: true
                    taker: ' | vvp-0'
                    priority: 5
                    resourceTuning:
                      mode: none
                      resourceTuningId: ""
                      resourceTuningName: ""
                      scheduledPlanIsCancelling: false
                    autopilot:
                      mode: ""
                      recommendation: ""
                      ignoreRecommendation: ""
                    deploymentTarget:
                      mode: PER_JOB
                      name: u6qci2cjybq2a6s2
                    artifact:
                      kind: JAR
                      jarArtifact:
                        jarUri: s3i://vvc-tenant-u6qci2cjybq2a6s2-eu-west-1/artifacts/namespaces/default/FlinkQuickStart-1.0-SNAPSHOT.jar
                        entryClass: org.example.WordCountStreaming
                        mainArgs: --inputs 3i://vvc-tenant-u6qci2cjybq2a6s2-eu-west-1/artifacts/namespaces/u6qci2cjybq2a6s2/Shakespeare
                        additionalDependencies:
                        - s3i://vvc-tenant-u6qci2cjybq2a6s2-eu-west-1/artifacts/namespaces/default/Shakespeare
                    flinkConf:
                      executioncheckpointing.interval": 180s
                      restartstrategy": fixed-delay
                      restartstrategy.fixed-delay.attempts": "2147483647"
                      tableexec.state.ttl": 36 h
                      executioncheckpointing.min-pause": 180s
                      restartstrategy.fixed-delay.delay": 10 s
                    logging:
                      loggingProfile: default
                      log4jLoggers:
                      - loggerName: ""
                        loggerLevel: INFO
                      logReservePolicy:
                        openHistory: true
                        expirationDays: 7
                    jobSummary:
                      starting: 0
                      running: 0
                      cancelling: 0
                      cancelled: 0
                      finished: 0
                      failed: 0
                    workspace: u6qci2cjybq2a6s2
                    namespace: default
                    creator: e967a977-6068-4355-99a9-bf387350b0dd
                    creatorName: John Doe
                    modifier: e967a977-6068-4355-99a9-bf387350b0dd
                    modifierName: John Doe
                    createdAt: 1747941717
                    modifiedAt: 1747941717
                python-deployment:
                  description: Created python deployment.
                  value:
                    deploymentId: 040aab7c-23bf-446f-8f13-14cec350feaa
                    name: python-deployment
                    executionMode: STREAMING
                    streamingResourceSetting:
                      resourceSettingMode: BASIC
                      basicResourceSetting:
                        parallelism: 1
                        jobmanagerResourceSettingSpec:
                          cpu: 1.0
                          memory: 1Gi
                        taskmanagerResourceSettingSpec:
                          cpu: 1.0
                          memory: 2Gi
                    kerberosConfig:
                      kerberosEnabled: fals
                    labels: {}
                    engineVersion: vera-1.0.3-flink-1.17
                    referencedDeploymentDraftId: ""
                    deploymentHasChanged: true
                    taker: ' | vvp-0'
                    priority: 5
                    resourceTuning:
                      mode: none
                      resourceTuningId: ""
                      resourceTuningName: ""
                      scheduledPlanIsCancelling: false
                    autopilot:
                      mode: ""
                      recommendation: ""
                      ignoreRecommendation: ""
                    deploymentTarget:
                      mode: PER_JOB
                      name: u6qci2cjybq2a6s2
                    artifact:
                      kind: PYTHON
                      pythonArtifact:
                        pythonArtifactUri: s3i://vvc-tenant-u6qci2cjybq2a6s2-eu-west-1/artifacts/namespaces/default/word_count_streaming.py
                    flinkConf:
                      executioncheckpointing.interval": 180s
                      restartstrategy": fixed-delay
                      restartstrategy.fixed-delay.attempts": "2147483647"
                      tableexec.state.ttl": 36 h
                      executioncheckpointing.min-pause": 180s
                      restartstrategy.fixed-delay.delay": 10 s
                    logging:
                      loggingProfile: default
                      log4jLoggers:
                      - loggerName: ""
                        loggerLevel: INFO
                      logReservePolicy:
                        openHistory: true
                        expirationDays: 7
                    jobSummary:
                      starting: 0
                      running: 0
                      cancelling: 0
                      cancelled: 0
                      finished: 0
                      failed: 0
                    workspace: u6qci2cjybq2a6s2
                    namespace: default
                    creator: e967a977-6068-4355-99a9-bf387350b0dd
                    creatorName: John Doe
                    modifier: e967a977-6068-4355-99a9-bf387350b0dd
                    modifierName: John Doe
                    createdAt: 1747940342
                    modifiedAt: 1747940342
                sql-script-deployment:
                  description: Created new deployment using SQL script.
                  value:
                    deploymentId: 1903268c-60ba-49e8-98d8-0233a783cb9d
                    name: jar-deployment
                    executionMode: STREAMING
                    streamingResourceSetting:
                      resourceSettingMode: BASIC
                      basicResourceSetting:
                        parallelism: 1
                        jobmanagerResourceSettingSpec:
                          cpu: 1.0
                          memory: 1Gi
                        taskmanagerResourceSettingSpec:
                          cpu: 1.0
                          memory: 2Gi
                    kerberosConfig:
                      kerberosEnabled: false
                    labels: {}
                    engineVersion: vera-1.0.3-flink-1.17
                    referencedDeploymentDraftId: ""
                    deploymentHasChanged: true
                    taker: ' | vvp-0'
                    priority: 5
                    resourceTuning:
                      mode: none
                      resourceTuningId: ""
                      resourceTuningName: ""
                      scheduledPlanIsCancelling: false
                    autopilot:
                      mode: ""
                      recommendation: ""
                      ignoreRecommendation: ""
                    deploymentTarget:
                      mode: PER_JOB
                      name: u6qci2cjybq2a6s2
                    artifact:
                      kind: SQLSCRIPT
                      sqlArtifact:
                        sqlScript: "CREATE TEMPORARY TABLE server_logs ( \n    client_ip\
                          \ STRING,\n    client_identity STRING, \n    userid STRING,\
                          \ \n    log_time TIMESTAMP(3),\n    request_line STRING,\
                          \ \n    status_code STRING, \n    size INT\n) WITH (\n \
                          \ connector = faker,\n  fields.client_ip.expression = -,\n\
                          \  fields.client_identity.expression =  -,\n  fields.userid.expression\
                          \ =  -,\nfields.log_time.expression =  -},\n  fields.request_line.expression\
                          \ = request_line_xpression},\n  fields.status_code.expression\
                          \ = status_code_expression},\n  fields.size.expression =\
                          \ -}\n);\n\nCREATE TEMPORARY TABLE client_errors (\n  log_time\
                          \ TIMESTAMP(3),\n  request_line STRING,\n  status_code STRING,\n\
                          \  size INT\n)\nWITH (\n  connector = blackhole\n);\n\n\
                          INSERT INTO client_errors\nSELECT\n    log_time,\n    request_line,\n\
                          \    status_code,\n    size\nFROM server_logs\nWHERE\n \
                          \   status_code SIMILAR TO 4[0-9][0-9];\n"
                    flinkConf:
                      executioncheckpointing.interval": 180s
                      restartstrategy": fixed-delay
                      restartstrategy.fixed-delay.attempts": "2147483647"
                      tableexec.state.ttl": 36 h
                      executioncheckpointing.min-pause": 180s
                      restartstrategy.fixed-delay.delay": 10 s
                    logging:
                      loggingProfile: default
                      log4jLoggers:
                        loggerName: ""
                        loggerLevel: INFO
                      logReservePolicy:
                        openHistory: true
                        expirationDays: 7
                    jobSummary:
                      starting: 0
                      running: 0
                      cancelling: 0
                      cancelled: 0
                      finished: 0
                      failed: 0
                    workspace: u6qci2cjybq2a6s2
                    namespace: default
                    creator: e967a977-6068-4355-99a9-bf387350b0dd
                    creatorName: John Doe
                    modifier: e967a977-6068-4355-99a9-bf387350b0dd
                    modifierName: John Doe
                    createdAt: 1747985781
                    modifiedAt: 1747985781
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    put:
      tags:
      - deployments
      summary: Update a deployment
      description: |
        Updates an existing deployment identified by its UUID within the specified workspace and namespace.
        Upon successful update, the endpoint returns the updated deployment details.
      operationId: updateDeployment
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: deploymentId
        in: path
        description: Unique identifier of the deployment resource.
        required: true
        schema:
          type: string
          format: uuid
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      requestBody:
        description: deploymentDTO
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Deployment"
            examples:
              description-update:
                description: Update deployment description.
                value:
                  engineVersion: vera-1.0.3-flink-1.17
                  artifact:
                    kind: JAR
                    jarArtifact:
                      jarUri: https://repo1.maven.org/maven2/org/apache/flink/flink-examples-streaming_2.12/1.17.2/flink-examples-streaming_2.12-1.17.2-WindowJoin.jar
                      entryClass: null
                      mainArgs: null
                      additionalDependencies: []
                  deploymentTarget:
                    mode: PER_JOB
                    name: u6qci2cjybq2a6s2
                  description: description update
                  labels: {}
                  kerberosConfig:
                    kerberosEnabled: false
                    kerberosClusterName: null
                    principal: null
                    keytabPath: null
                    krb5ConfPath: nul
                  localVariables: []
              job-manager-cpu-update:
                description: Update job manager CPU.
                value:
                  flinkConf:
                    execution.checkpointing.interval: 180s
                    restart-strategy: fixed-delay
                    restart-strategy.fixed-delay.attempts: "2147483647"
                    table.exec.state.ttl: 36 h
                    execution.checkpointing.min-pause: 180s
                    restart-strategy.fixed-delay.delay: 10 s
                  streamingResourceSetting:
                    resourceSettingMode: BASIC
                    basicResourceSetting:
                      parallelism: 1
                      jobmanagerResourceSettingSpec:
                        cpu: 2
                        memory: 1Gi
                      taskmanagerResourceSettingSpec:
                        cpu: 1
                        memory: 2Gi
              logging-level-update:
                description: Logging level update.
                value:
                  logging:
                    log4jLoggers:
                      loggerName: ""
                      loggerLevel: WARN
                    loggingProfile: default
                    logReservePolicy:
                      openHistory: true
                      expirationDays: 7
          application/x-protobuf:
            schema:
              $ref: "#/components/schemas/Deployment"
          application/yaml:
            schema:
              $ref: "#/components/schemas/Deployment"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deployment"
        "201":
          description: Created
          content: {}
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    delete:
      tags:
      - deployments
      summary: Delete a deployment
      description: |
        Deletes an existing deployment identified by its UUID within the specified workspace and namespace.
        The deployment **must be stopped** (i.e., not in a running state) before it can be deleted.
      operationId: deleteDeployment
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: deploymentId
        in: path
        description: Unique identifier of the deployment resource.
        required: true
        schema:
          type: string
          format: uuid
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deployment"
        "204":
          description: No Content
          content: {}
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    x-backend-url: "/api/v2/namespaces/{namespace}/deployments/{deploymentId}"
    x-move-header-to-path:
      - workspace
  /api/v2/namespaces/{namespace}/jobs:
    get:
      description: list jobs
      tags:
        - jobs
      summary: List jobs
      operationId: listJobsTemporary
      parameters:
        - name: workspace
          in: header
          required: true
          schema:
            type: string
        - name: deploymentId
          in: query
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: namespace
          in: path
          description: namespace
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceListOfJobTemporary"
      security:
        - bearerAuth: []
  /api/v2/workspaces/{workspace}/namespaces/{namespace}/jobs:
    get:
      tags:
      - jobs
      summary: List jobs
      operationId: listJobs
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Job"
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    x-backend-url: "/api/v2/namespaces/{namespace}/jobs"
    x-move-header-to-path:
    - workspace
  /api/v2/workspaces/{workspace}/namespaces/{namespace}/jobs/{job}:
    get:
      tags:
      - jobs
      summary: Get a job by id
      operationId: getJob
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: job
        in: path
        description: jobId
        required: true
        schema:
          type: string
          format: uuid
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    x-backend-url: "/api/v2/namespaces/{namespace}/jobs/{job}"
    x-move-header-to-path:
    - workspace
    x-rename-parameter:
    - from: jobId
      to: job
  /api/v2/workspaces/{workspace}/namespaces/{namespace}/savepoints:
    get:
      tags:
      - savepoints
      summary: "List savepoints. Can be filtered by deploymentId, jobId and restoreStrategy."
      operationId: listSavepoints
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Savepoint"
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    post:
      tags:
      - savepoints
      summary: Create a new savepoint
      operationId: createSavepoint
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      requestBody:
        description: savepointDTO
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Savepoint"
          application/x-protobuf:
            schema:
              $ref: "#/components/schemas/Savepoint"
          application/yaml:
            schema:
              $ref: "#/components/schemas/Savepoint"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Savepoint"
        "201":
          description: Created
          content: {}
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    x-backend-url: "/api/v2/namespaces/{namespace}/savepoints"
    x-move-header-to-path:
    - workspace
  /api/v2/workspaces/{workspace}/namespaces/{namespace}/savepoints/{savepoint}:
    get:
      tags:
      - savepoints
      summary: Get a savepoint by id
      operationId: getSavepoint
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      - name: savepoint
        in: path
        description: savepointId
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Savepoint"
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    delete:
      tags:
      - savepoints
      summary: Delete a savepoint by id
      operationId: deleteSavepoint
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      - name: savepoint
        in: path
        description: savepointId
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Savepoint"
        "204":
          description: No Content
          content: {}
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    x-backend-url: "/api/v2/namespaces/{namespace}/savepoints/{savepoint}"
    x-move-header-to-path:
    - workspace
    x-rename-parameter:
    - from: savepointId
      to: savepoint
  /api/v1/workspaces/{workspace}/namespaces/{namespace}/artifacts:delete:
    delete:
      tags:
      - artifacts
      summary: Delete artifact
      description: |
        Deletes the specified artifact by its `filename` from the given workspace and namespace.
        This operation permanently removes the artifact from storage, making it unavailable for future deployments.
      operationId: Delete artifact
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: filename
        in: query
        description: filename
        required: true
        schema:
          type: string
        example: FlinkQuickStart-1.0-SNAPSHOT.jar
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteArtifactResponse"
        "204":
          description: No Content
          content: {}
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    x-backend-url: "/artifacts/v1/namespaces/{namespace}/artifacts:delete"
    x-move-header-to-path:
    - workspace
    x-rename-parameter:
      - from: ns
        to: namespace
  /artifacts/v1/namespaces/{namespace}/artifacts:download:
    get:
      description: Download an artifact
      tags:
        - artifacts
      summary: downloadArtifact
      operationId: downloadArtifactTemporary
      security:
        - bearerAuth: []
      parameters:
        - name: workspace
          in: header
          required: true
          schema:
            type: string
        - name: filename
          in: query
          description: filename
          required: true
          schema:
            type: string
        - name: namespace
          in: path
          description: ns
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/workspaces/{workspace}/namespaces/{namespace}/artifacts:download:
    get:
      tags:
      - artifacts
      summary: Download artifact
      description: |
        Retrieves the raw byte content of the specified artifact.
      operationId: downloadArtifact
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: filename
        in: query
        description: filename
        required: true
        schema:
          type: string
        example: FlinkQuickStart-1.0-SNAPSHOT.jar
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      responses:
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: byte
      security:
      - bearerAuth: []
      x-unwrap-console-errors: true
    x-backend-url: "/artifacts/v1/namespaces/{namespace}/artifacts:download"
    x-move-header-to-path:
    - workspace
    x-rename-parameter:
      - from: ns
        to: namespace
  /artifacts/v1/namespaces/{namespace}/artifacts:getMetadata:
    get:
      description: Get artifact metadata temporary
      tags:
        - artifacts
      summary: getArtifactMetadata
      operationId: getArtifactMetadataTemporary
      security:
        - bearerAuth: []
      parameters:
        - name: workspace
          in: header
          required: true
          schema:
            type: string
        - name: filename
          in: query
          description: filename
          required: true
          schema:
            type: string
        - name: namespace
          in: path
          description: ns
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetArtifactMetadataResponseTemporary"
  /api/v1/workspaces/{workspace}/namespaces/{namespace}/artifacts:getMetadata:
    get:
      tags:
      - artifacts
      summary: Get artifact metadata
      description: |
        Returns full metadata for a specific artifact identified by its `filename` within the given workspace and namespace.
        This endpoint provides detailed information about the artifact, including its `size`.
        Use this endpoint when you need accurate artifact size not available in the list endpoint.
      operationId: getArtifactMetadata
      parameters:
      - name: workspace
        in: path
        description: Unique identifier of the workspace that groups related namespaces
          and resources.
        required: true
        schema:
          type: string
        example: u6qci2cjybq2a6s2
      - name: filename
        in: query
        description: filename
        required: true
        schema:
          type: string
        example: FlinkQuickStart-1.0-SNAPSHOT.jar
      - name: namespace
        in: path
        description: Logical namespace within the workspace used to organize and isolate
          resources.
        required: true
        schema:
          type: string
        example: default
      responses:
        "200":
          description: OK
[...]
